:root {
  --color-primary: #eb2f64;
  --color-white: #fff;
  --color-grey-light: #ccc;
  --color-grey-dark-1: #777;
  --color-grey-dark-2: #eee;
  --color-black: #000;
  --color-light-black: #000000b8;
  --color-red: #ff0000;
  --color-green: #008000;
  --color-yellow: #f5ba13;
  --color-blue: #0000ff;
  --color-grey-light-1: #f9f7f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:var(--color-white);
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
